

Recherche par prenom: <input type = "text" name = "prenom" class="valPre">
 <button type = "submit" class="envoiRecherche" onclick="recupValeurPrenom()"><i class="fas fa-search"></i></a></button> <br>
Recherche par nom: <input type = "text" name = "nom" class="valNom">
 <button type = "submit" class="envoiRecherche" onclick="recupValeurNom()"><i class="fas fa-search"></i></button> <br>
Recherche par téléphone: <input type = "text" name = "telephone" class="valTel" placeholder="xxx-xxx-xxxx">
 <button type = "submit" class="envoiRecherche" onclick="recupValeurTel()"><i class="fas fa-search"></i></button>

