
<div class="rechercheMobile"><form class="formuRecherch" action = "http://127.0.0.1:8081/rechercher" method = "POST">
Recherche par prénom: <input type = "text" name = "prenom"> <br>
Recherche par nom: <input type = "text" name = "nom">
Recherche par téléphone: <input type = "text" name = "telephone"> <br>
 <button type = "submit"><i class="fas fa-search"></i></button></div>

