<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
<body>

	<%- include('composants/entete') %>
	<div style="margin-bottom: 30vh"></div>
	<%- include('composants/menu') %>
	<%- include('composants/footer') %>
</body>
</html>